
<div class="container">
    <div *ngFor=" let product of productList">
        <div
            class="product-card border-bottom border-primary d-flex flex-column flex-md-row flex-lg-row mt-4">
            <div
                class="product-image-container border-end border-primary d-flex justify-content-center align-item-center">
                <img
                    src="{{product.productImage}}"
                    alt class="product-image">
            </div>
            <div class="product-data">
                <h4 class="product-title">{{product.productName}}-<span
                        class="product-color">{{product.productColor}}</span></h4>
                <p class="mb-1">{{product.productDescription}}</p>
                <span *ngFor="let i of [1,2,3]">
                    <i class="fa fa-star" aria-hidden="true"
                        style="color:goldenrod;font-size: 1.2rem; margin-right:0.2em" ></i>
                </span>
                <h3 class="product-price mt-1"> {{ +(product.productPrice.replace(',',''))
                    | currency: 'INR':'symbol':'2.2-2'}}</h3>
                <!-- <button class="btn btn-danger"
                    (click)="deleteProduct(product.id)">Delete Product</button>
                <button class="btn btn-primary"
                    routerLink="/seller-update-product/{{product.id}}">Update
                    Product</button> -->
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteProduct(product.id)"></i>
                    <i class="fa fa-edit" aria-hidden="true"  routerLink="/seller-update-product/{{product.id}}"></i>
            </div>
        </div>
    </div>

</div>
