.card-img-top {

    max-height: 200px;
    border: 2px solid red;
}

.card {

    flex-direction: row !important;
}

.product-title {

    margin-bottom: 0.2em;
    color: blue;
}

.fa-trash {
    font-size: 1.7rem;
    color: red;
    border: 1px solid red;
    padding: 0.3em;
    border-radius: 10px 10px;
    margin-right: 1em;
}

.fa-edit{
    font-size: 1.7rem;
    color: green;
    border: 1px solid green;
    padding: 0.3em;
    border-radius: 10px 10px;
    margin-right: 1em;
}