
<header>
  
</header>

<section class="container">
    <h5>Trending Products</h5>

<div class="row">
    <div *ngFor="let item of productList" class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="{{item.productImage}}" class="card-img-top  border-bottom" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.productName}}</h5>
              <p class="mb-1">{{item.productColor | lowercase}},{{item.productDescription}}</p>
              <p class="card-text h5 fw-bold">{{ +(item.productPrice.replace(',',''))
                | currency: 'INR':'symbol':'2.2-2'}}</p>
              <div class="links d-flex justify-content-between align-item-center">
                <a href="">View Details</a>
                <a href="">Add to Cart</a>
              </div>
            </div>
          </div>
    </div>
</div>


   


</section>
